.site-menu {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(100vw, 0px);
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  width: auto;
  height: 100vh;
  max-height: 100vh;
  z-index: 1;
  overflow-x: auto;
  pointer-events: none;
  margin: 0;
  overflow-y: auto;
  font-size: .9rem;
  padding: 0 20px 10px;
}

.site-menu input {
  display: none;
}

.site-menu .sections {
  margin-top: 1rem;
  margin-bottom: 82px;
}

.site-menu .title {
  font-size: 1.3rem;
  margin: 1rem 0 24px 0;
  display: block;
  max-width: 372px;
  line-height: 1.9rem;
}

input.section-checkbox + label + .subject-block {
  overflow: hidden;
  width: auto;
  padding-left: 1rem;
  transition: transform 0.1s ease-out;
}
input.section-checkbox:not(:checked) + label + .subject-block {
  height: 0;
  transform: translate(0px, -25%) scaleY(0.7);
}
input.section-checkbox:checked + label + .subject-block {
  height: auto;
  border-left: 1px solid #c3c3c3;
  border-radius: 15px;
  transform: translate(0px, 0px) scaleY(1);
}

input.subject-checkbox + label + .conspect-block {
  overflow: hidden;
  width: auto;
  padding-left: 1rem;
  transition: transform 0.1s ease-out;
}
input.subject-checkbox:not(:checked) + label + .conspect-block {
  height: 0;
  transform: translate(0px, -25%) scaleY(0.7);
}
input.subject-checkbox:checked + label + .conspect-block {
  height: auto;
  border-left: 1px solid #c3c3c3;
  border-radius: 15px;
  transform: translate(0px, 0px) scaleY(1);
}

.section-item, .subject-item, .conspect-item {
  display: table;
  padding: 7px;
  cursor: pointer;
  color: #5f5f5f;
}

.section-item::after, .subject-item::after {
  content: "➤";
  font-size: 0.8em;
  transform: rotate(0.25turn);
  margin-left: 7px;
  display: inline-block;
  color: #ddd;
  transition: transform 0.15s ease;
}

:checked + .section-item::after, :checked + .subject-item::after {
  transform: rotate(0.75turn);
  color: #ff3faa;
}

.conspect-item.active a::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #ff3faa;
  margin-left: 8px;
  margin-top: 8px;
}
