.blocks-in-row {
  column-width: 250px;
  column-gap: 2rem;
  margin-top: 1.4rem;
}

.blocks-in-row .block {
  min-width: 270px;
  background-color: #ededed;
  border-radius: 9px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}
