<head>
  {% set layoutName = layout.replace('.njk', '') %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{seoDescription}}" />
  <meta name="keywords" content="{{seoKeywords}}" />
  <title>{% if conspectTitle %} Конспект {{conspectTitle}} {% elif title %} {{title}} {% endif %}</title>
  <link rel="stylesheet" type="text/css" href="/css_bundle/common.css">
  <link rel="stylesheet" type="text/css" href="/css_bundle/desktop/{{layoutName}}.css" media="(min-width: 1280px)">
  <link rel="stylesheet" type="text/css" href="/css_bundle/mobile/{{layoutName}}.css" media="(max-width: 1279px)">
  <link rel="manifest" href="/webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="bxnotes">
  <meta name="application-name" content="bxnotes">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
