<a
  class="github-btn" 
  href="https://github.com/ValeriyDyachenko/bxnotes/blob/master{{ page.inputPath.replace('./', '/').replace('_server/conspect', 'content') }}"
>
  Редактировать на GitHub
</a>
