.pagination-bottom {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 30px 0 0px 0;
}

.pagination-bottom li.next, .pagination-bottom li.prev {
  text-transform: uppercase;
  padding: 0;
  margin: 1rem 0 0 0;
  width: 100%;
  text-align: center;
}

.pagination-bottom li.prev a {
  border-color: #d8ecff
}

.pagination-bottom a {
  color: #0067cc;
}

.pagination-bottom a {
  color: #0067cc;
  display: block;
  padding: 12px 20px;
  border: 1px solid #0067cc;
  border-radius: 2px;
}
