ErrorDocument 404 /404.html

# angular
Redirect 301 /conspect/angular-5-the-complete-guide/                           https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/
Redirect 301 /article/vvedenie-v-angular/                                      https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/vvedenie-v-angular/
Redirect 301 /article/typescript-bootstrap-main-ts/                            https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/typescript-bootstrap-main-ts/
Redirect 301 /article/shablon-i-stili-komponenta/                              https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/shablon-i-stili-komponenta/
Redirect 301 /article/komponent-i-dannye/                                      https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/komponent-i-dannye/
Redirect 301 /article/dinamicheskie-shablony-v-angular5/                       https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/dinamicheskie-shablony-v-angular5/
Redirect 301 /article/angular-css-i-style/                                     https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/angular-css-i-style/
Redirect 301 /article/direktiva-ngfor-v-angular/                               https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/direktiva-ngfor-v-angular/
Redirect 301 /article/komponent-i-model/                                       https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/komponent-i-model/
Redirect 301 /article/dobavlenie-dannykh-v-komponent/                          https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/dobavlenie-dannykh-v-komponent/
Redirect 301 /article/sozdanie-obshchey-modeli/                                https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/sozdanie-obshchey-modeli/
Redirect 301 /article/ng-content/                                              https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/ng-content/
Redirect 301 /article/sobitiya-i-jiznenniy-tcikl/                              https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/sobitiya-i-jiznenniy-tcikl/
Redirect 301 /article/otladka/                                                 https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/otladka/
Redirect 301 /article/inkapsulyatsiya-stiley-i-ssylki/                         https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/inkapsulyatsiya-stiley-i-ssylki/
Redirect 301 /article/navigatsiya/                                             https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/navigatsiya/
Redirect 301 /article/direktiva-atributa/                                      https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/direktiva-atributa/
Redirect 301 /article/hostlistener-i-hostbinding/                              https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/hostlistener-i-hostbinding/
Redirect 301 /article/binding-svoystv-direktiv/                                https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/binding-svoystv-direktiv/
Redirect 301 /article/testirovanie-vozmozhnostey/                              https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/testirovanie-vozmozhnostey/
Redirect 301 /article/sozdanie-komponentov/                                    https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/sozdanie-komponentov/
Redirect 301 /article/sobytiya/                                                https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/sobytiya/
Redirect 301 /article/svyazyvanie-svoystv-i-sobytiy/                           https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/svyazyvanie-svoystv-i-sobytiy/
Redirect 301 /article/peredacha-dannykh-sobytiyami/                            https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/peredacha-dannykh-sobytiyami/
Redirect 301 /article/strukturnye-direktivy/                                   https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/strukturnye-direktivy/
Redirect 301 /article/servisy/                                                 https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/servisy/
Redirect 301 /article/js-operatory/                                            https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/js-operatory/
Redirect 301 /article/route/                                                   https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/route/
Redirect 301 /article/route-chast-2/                                           https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/route-chast-2/
Redirect 301 /article/obnovlenie-shablona/                                     https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/obnovlenie-shablona/
Redirect 301 /article/route-prodolzhenie/                                      https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/route-prodolzhenie/
Redirect 301 /article/vynos-nastroek-routera/                                  https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/vynos-nastroek-routera/
Redirect 301 /article/zashchita-routera/                                       https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/zashchita-routera/
Redirect 301 /article/kontrol-navigatsii-s-pomoshchyu-servisa/                 https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/kontrol-navigatsii-s-pomoshchyu-servisa/
Redirect 301 /article/route-i-statika/                                         https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/route-i-statika/
Redirect 301 /article/route-resolving/                                         https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/route-resolving/
Redirect 301 /article/observable/                                              https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/observable/
Redirect 301 /article/unsubscribe/                                             https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/unsubscribe/
Redirect 301 /article/subject/                                                 https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/subject/
Redirect 301 /article/formy/                                                   https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/formy/
Redirect 301 /article/formy-shablonnyy-podkhod/                                https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/formy-shablonnyy-podkhod/
Redirect 301 /article/formy-reaktivnyy-podkhod/                                https://bxnotes.ru/conspect/lib/angular/angular-5-the-complete-guide/formy-reaktivnyy-podkhod/

# bitrix 1
Redirect 301 /conspect/integratsiya-dizayna-i-nastroyka-platformy/             https://bxnotes.ru/conspect/lib/bitrix/integratsiya-dizayna-i-nastroyka-platformy/
Redirect 301 /article/bitriks-kurs-1-vvedenie/                                 https://bxnotes.ru/conspect/lib/bitrix/integratsiya-dizayna-i-nastroyka-platformy/bitriks-kurs-1-vvedenie/
Redirect 301 /article/bitriks-kurs-1-tekhnologii/                              https://bxnotes.ru/conspect/lib/bitrix/integratsiya-dizayna-i-nastroyka-platformy/bitriks-kurs-1-tekhnologii/
Redirect 301 /article/bitriks-i-keshirovanie-dannykh/                          https://bxnotes.ru/conspect/lib/bitrix/integratsiya-dizayna-i-nastroyka-platformy/bitriks-i-keshirovanie-dannykh/
Redirect 301 /article/keshirovanie-v-komponente/                               https://bxnotes.ru/conspect/lib/bitrix/integratsiya-dizayna-i-nastroyka-platformy/keshirovanie-v-komponente/
Redirect 301 /article/menyu/                                                   https://bxnotes.ru/conspect/lib/bitrix/integratsiya-dizayna-i-nastroyka-platformy/menyu/
Redirect 301 /article/rabota-s-komponentami/                                   https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/rabota-s-komponentami/

# bitrix 2
Redirect 301 /conspect/podgotovka-ko-vtoromu-ekzamenu-bitriks/                 https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/
Redirect 301 /article/api-bitriksa-chastye-zadachi/                            https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/api-bitriksa-chastye-zadachi/
Redirect 301 /article/reshenie-tipovykh-zadach/                                https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/reshenie-tipovykh-zadach/
Redirect 301 /article/sobytiya-v-cms-1s-bitriks/                               https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/sobytiya-v-cms-1s-bitriks/
Redirect 301 /article/otlozhennye-funktsii/                                    https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/otlozhennye-funktsii/
Redirect 301 /article/komponenty/                                              https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/komponenty/
Redirect 301 /article/dostup-i-bezopasnost/                                    https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/dostup-i-bezopasnost/
Redirect 301 /article/gadzhety/                                                https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/gadzhety/
Redirect 301 /article/mastera/                                                 https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/mastera/
Redirect 301 /article/mnogosaytovost/                                          https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/mnogosaytovost/
Redirect 301 /article/mnogoyazychnost/                                         https://bxnotes.ru/conspect/lib/bitrix/rasshireniye-tipovykh-vozmozhnostey/mnogoyazychnost/

# JavaScript Patterns
Redirect 301 /conspect/javascript-patterns/                                    https://bxnotes.ru/conspect/lang/js/javascript-patterns/
Redirect 301 /article/kontseptsii-javascript/                                  https://bxnotes.ru/conspect/lang/js/javascript-patterns/kontseptsii-javascript/
Redirect 301 /article/ecmascript-5/                                            https://bxnotes.ru/conspect/lang/js/javascript-patterns/ecmascript-5/                                       
Redirect 301 /article/jslint/                                                  https://bxnotes.ru/conspect/lang/js/javascript-patterns/jslint/
Redirect 301 /article/napisanie-khoroshego-koda/                               https://bxnotes.ru/conspect/lang/js/javascript-patterns/napisanie-khoroshego-koda/
Redirect 301 /article/problema-globalnykh-peremennykh/                         https://bxnotes.ru/conspect/lang/js/javascript-patterns/problema-globalnykh-peremennykh/
Redirect 301 /article/dostup-k-globalnomu-obektu/                              https://bxnotes.ru/conspect/lang/js/javascript-patterns/dostup-k-globalnomu-obektu/
Redirect 301 /article/pattern-odin-var/                                        https://bxnotes.ru/conspect/lang/js/javascript-patterns/pattern-odin-var/
Redirect 301 /article/tsikl-for/                                               https://bxnotes.ru/conspect/lang/js/javascript-patterns/tsikl-for/
Redirect 301 /article/tsikl-for-in/                                            https://bxnotes.ru/conspect/lang/js/javascript-patterns/tsikl-for-in/
Redirect 301 /article/dobavlenie-svoystv-k-standartnym-obektam/                https://bxnotes.ru/conspect/lang/js/javascript-patterns/dobavlenie-svoystv-k-standartnym-obektam/
Redirect 301 /article/khoroshiy-stil/                                          https://bxnotes.ru/conspect/lang/js/javascript-patterns/khoroshiy-stil/
Redirect 301 /article/oformlenii-koda/                                         https://bxnotes.ru/conspect/lang/js/javascript-patterns/oformlenii-koda/
Redirect 301 /article/rabota-s-obektami/                                       https://bxnotes.ru/conspect/lang/js/javascript-patterns/rabota-s-obektami/
Redirect 301 /article/patterny-sozdaniya-obektov/                              https://bxnotes.ru/conspect/lang/js/javascript-patterns/patterny-sozdaniya-obektov/
Redirect 301 /article/massivy/                                                 https://bxnotes.ru/conspect/lang/js/javascript-patterns/massivy/
Redirect 301 /article/json/                                                    https://bxnotes.ru/conspect/lang/js/javascript-patterns/json/
Redirect 301 /article/regulyarnye-vyrazheniya/                                 https://bxnotes.ru/conspect/lang/js/javascript-patterns/regulyarnye-vyrazheniya/
Redirect 301 /article/obertki-primitivov/                                      https://bxnotes.ru/conspect/lang/js/javascript-patterns/obertki-primitivov/
Redirect 301 /article/error-objects/                                           https://bxnotes.ru/conspect/lang/js/javascript-patterns/error-objects/
Redirect 301 /article/funktsii/                                                https://bxnotes.ru/conspect/lang/js/javascript-patterns/funktsii/

# Functional PHP
Redirect 301 /conspect/functional-php/                                         https://bxnotes.ru/conspect/lang/php/functional-php/
Redirect 301 /article/vvedenie/                                                https://bxnotes.ru/conspect/lang/php/functional-php/vvedenie/
Redirect 301 /article/kakuyu-versiyu-php-ispolzovat/                           https://bxnotes.ru/conspect/lang/php/functional-php/kakuyu-versiyu-php-ispolzovat/
Redirect 301 /article/zdravstvuy-fp/                                           https://bxnotes.ru/conspect/lang/php/functional-php/zdravstvuy-fp/
Redirect 301 /article/deklarativnyy-koding/                                    https://bxnotes.ru/conspect/lang/php/functional-php/deklarativnyy-koding/
Redirect 301 /article/immutabelnyy-dizayn/                                     https://bxnotes.ru/conspect/lang/php/functional-php/immutabelnyy-dizayn/
Redirect 301 /article/chistye-funktsii-zashchishchayut-ot-sayd-effekta/        https://bxnotes.ru/conspect/lang/php/functional-php/chistye-funktsii-zashchishchayut-ot-sayd-effekta/
Redirect 301 /article/ssylochnaya-prozrachnost/                                https://bxnotes.ru/conspect/lang/php/functional-php/ssylochnaya-prozrachnost/
Redirect 301 /article/vzglyad-na-funktsionalnuyu-dekompozitsiyu/               https://bxnotes.ru/conspect/lang/php/functional-php/vzglyad-na-funktsionalnuyu-dekompozitsiyu/
Redirect 301 /article/funktsii-pervogo-klassa-i-funktsii-vysshego-poryadka/    https://bxnotes.ru/conspect/lang/php/functional-php/funktsii-pervogo-klassa-i-funktsii-vysshego-poryadka/
Redirect 301 /article/prisvaivanie-k-peremennoy/                               https://bxnotes.ru/conspect/lang/php/functional-php/prisvaivanie-k-peremennoy/
Redirect 301 /article/vozvrashchenie-funktsii/                                 https://bxnotes.ru/conspect/lang/php/functional-php/vozvrashchenie-funktsii/
Redirect 301 /article/parametr/                                                https://bxnotes.ru/conspect/lang/php/functional-php/parametr/
Redirect 301 /article/dazhe-obychnye-obekty-vyzyvaemy/                         https://bxnotes.ru/conspect/lang/php/functional-php/dazhe-obychnye-obekty-vyzyvaemy/
Redirect 301 /article/ispolzovanie-konteynerov-dlya-uluchsheniya-api/          https://bxnotes.ru/conspect/lang/php/functional-php/ispolzovanie-konteynerov-dlya-uluchsheniya-api/
Redirect 301 /article/zamykaniya/                                              https://bxnotes.ru/conspect/lang/php/functional-php/zamykaniya/

# курс современнго js
Redirect 301 /conspect/kurs-sovremennogo-javascript/                           https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/
Redirect 301 /article/javascript-ecma-babel/                                   https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/javascript-ecma-babel/
Redirect 301 /article/vsplytie-hoisting/                                       https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/vsplytie-hoisting/
Redirect 301 /article/oblast-vidimosti-scope/                                  https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/oblast-vidimosti-scope/
Redirect 301 /article/let-const-var/                                           https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/let-const-var/
Redirect 301 /article/zamykaniya-closure/                                      https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/zamykaniya-closure/
Redirect 301 /article/patterny/                                                https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/paterny/
Redirect 301 /article/modul/                                                   https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/modul/
Redirect 301 /article/stroitel/                                                https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/stroitel/
Redirect 301 /article/fasad/                                                   https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/fasad/
Redirect 301 /article/komponovshchik/                                          https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/komponovshchik/
Redirect 301 /article/nablyudatel/                                             https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/nablyudatel/
Redirect 301 /article/this/                                                    https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/this/
Redirect 301 /article/arkhitektura-sredy/                                      https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/arkhitektura-sredy/
Redirect 301 /article/callback-hell/                                           https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/callback-hell/
Redirect 301 /article/promise/                                                 https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/promise/
Redirect 301 /article/async-await/                                             https://bxnotes.ru/conspect/lang/js/kurs-sovremennogo-javascript/async-await/

# Внутреннее устройство Linux
Redirect 301 /conspect/how-linux-works/                                        https://bxnotes.ru/conspect/os/unix/how-linux-works/
Redirect 301 /article/vvedenie-protsessy-i-yadro/                              https://bxnotes.ru/conspect/os/unix/how-linux-works/vvedenie-protsessy-i-yadro/
Redirect 301 /article/fayly/                                                   https://bxnotes.ru/conspect/os/unix/how-linux-works/fayly/
Redirect 301 /article/direktorii/                                              https://bxnotes.ru/conspect/os/unix/how-linux-works/direktorii/
Redirect 301 /article/dzhokernye-simvoly/                                      https://bxnotes.ru/conspect/os/unix/how-linux-works/dzhokernye-simvoly/
Redirect 301 /article/utility/                                                 https://bxnotes.ru/conspect/os/unix/how-linux-works/utility/
Redirect 301 /article/peremennye/                                              https://bxnotes.ru/conspect/os/unix/how-linux-works/peremennye/
Redirect 301 /article/sochetaniya-klavish/                                     https://bxnotes.ru/conspect/os/unix/how-linux-works/sochetaniya-klavish/
Redirect 301 /article/vstroennaya-dokumentatsiya/                              https://bxnotes.ru/conspect/os/unix/how-linux-works/vstroennaya-dokumentatsiya/
Redirect 301 /article/potoki/                                                  https://bxnotes.ru/conspect/os/unix/how-linux-works/potoki/
Redirect 301 /article/protsessy-i-zadaniya/                                    https://bxnotes.ru/conspect/os/unix/how-linux-works/protsessy-i-zadaniya/
Redirect 301 /article/prava-dostupa/                                           https://bxnotes.ru/conspect/os/unix/how-linux-works/prava-dostupa/
Redirect 301 /article/ssylka/                                                  https://bxnotes.ru/conspect/os/unix/how-linux-works/ssylka/
Redirect 301 /article/arkhivatsiya/                                            https://bxnotes.ru/conspect/os/unix/how-linux-works/arkhivatsiya/
Redirect 301 /article/katalogi/                                                https://bxnotes.ru/conspect/os/unix/how-linux-works/katalogi/
Redirect 301 /article/zapusk-ot-administratora/                                https://bxnotes.ru/conspect/os/unix/how-linux-works/zapusk-ot-administratora/

# git osnovy
Redirect 301 /conspect/git/                                                    https://bxnotes.ru/conspect/util/git/git-intro/
Redirect 301 /article/vvedenie-git/                                            https://bxnotes.ru/conspect/util/git/git-intro/vvedenie-git/
Redirect 301 /article/osnovy/                                                  https://bxnotes.ru/conspect/util/git/git-intro/osnovy/
Redirect 301 /article/kontribyut/                                              https://bxnotes.ru/conspect/util/git/git-intro/kontribyut/
Redirect 301 /article/bazovye-komandy/                                         https://bxnotes.ru/conspect/util/git/git-intro/bazovye-komandy/

# igra na reakte
Redirect 301 /conspect/praktika-react/                                         https://bxnotes.ru/conspect/lib/react/react-game/
Redirect 301 /article/igra-na-reakte/                                          https://bxnotes.ru/conspect/lib/react/react-game/game/

# murach-mysql
Redirect 301 /conspect/murach-s-mysql/                                         https://bxnotes.ru/conspect/db/mysql/murach-mysql/
Redirect 301 /article/vvedenie-mysql/                                          https://bxnotes.ru/conspect/db/mysql/murach-mysql/vvedenie-mysql/

# all articles
Redirect 301 /article/                                                         https://bxnotes.ru/conspect/

# lib
Redirect 301 /article/tags/frameworks/                                         https://bxnotes.ru/conspect/lib/
Redirect 301 /conspect/tags/frameworks/                                        https://bxnotes.ru/conspect/lib/

# angular
Redirect 301 /article/tags/frameworks/angular/                                 https://bxnotes.ru/conspect/lib/angular/
Redirect 301 /conspect/tags/frameworks/angular/                                https://bxnotes.ru/conspect/lib/angular/

# bitrix
Redirect 301 /article/tags/frameworks/bitrix/                                  https://bxnotes.ru/conspect/lib/bitrix/
Redirect 301 /conspect/tags/frameworks/bitrix/                                 https://bxnotes.ru/conspect/lib/bitrix/

# js
Redirect 301 /article/tags/js/                                                 https://bxnotes.ru/conspect/lang/js/
Redirect 301 /conspect/tags/js/                                                https://bxnotes.ru/conspect/lang/js/

# php 
Redirect 301 /article/tags/php/                                                https://bxnotes.ru/conspect/lang/php/
Redirect 301 /conspect/tags/php/                                               https://bxnotes.ru/conspect/lang/php/

# util
Redirect 301 /article/tags/techs/                                              https://bxnotes.ru/conspect/util/
Redirect 301 /conspect/tags/techs/                                             https://bxnotes.ru/conspect/util/

# git
Redirect 301 /article/tags/techs/git/                                          https://bxnotes.ru/conspect/util/git/
Redirect 301 /conspect/tags/techs/git/                                         https://bxnotes.ru/conspect/util/git/

# db
Redirect 301 /article/tags/db/                                                 https://bxnotes.ru/conspect/db/
Redirect 301 /conspect/tags/db/                                                https://bxnotes.ru/conspect/db/

# mysql
Redirect 301 /article/tags/db/mysql/                                           https://bxnotes.ru/conspect/db/mysql/
Redirect 301 /conspect/tags/db/mysql/                                          https://bxnotes.ru/conspect/db/mysql/

# os
Redirect 301 /article/tags/os/                                                 https://bxnotes.ru/conspect/os/
Redirect 301 /conspect/tags/os/                                                https://bxnotes.ru/conspect/os/

# unix
Redirect 301 /article/tags/os/linux/                                           https://bxnotes.ru/conspect/os/unix/
Redirect 301 /conspect/tags/os/linux/                                          https://bxnotes.ru/conspect/os/unix/

# react
Redirect 301 /article/tags/frameworks/react/                                   https://bxnotes.ru/conspect/lib/react/
Redirect 301 /conspect/tags/frameworks/react/                                  https://bxnotes.ru/conspect/lib/react/
