<input id="conspect-checkbox" type="checkbox" value="burger" />
<label id="conspect-burger" for="conspect-checkbox">
  <div class="conspect-ico-wrapper">
    <img class="conspect-ico menu" src="/assets/img/static/conspect-button.svg" alt="conspect">
    <img class="conspect-ico close" src="/assets/img/static/close-button.svg" alt="close">
  </div>  
</label>
