#nav-checkbox {
  display: none;
}

#nav-checkbox:checked ~ #page-wrapper .container .site-menu {
  opacity: 1;
  transform: translate(0px, 0px);
  z-index: 5;
  pointer-events: auto;
}

#nav-burger {
  z-index: 6;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#conspect-checkbox:checked ~ #nav-burger {
  z-index: 3;
}

#nav-checkbox:checked ~ #nav-burger .nav-ico.menu {
  opacity: 0;
}

#nav-checkbox:checked ~ #nav-burger .nav-ico.close {
  opacity: 1;
}

.nav-ico-wrapper {
  position: relative;
  width: 26px;
  height: 26px;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
}

.nav-ico {
  position: absolute;
}

.nav-ico.menu {
  width: 26px;
  height: 26px;
  opacity: 1;
}

.nav-ico.close {
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: 3px 0 0 3px;
}
