<input id="nav-checkbox" type="checkbox" value="burger" />
<label id="nav-burger" for="nav-checkbox">
  <div class="nav-ico-wrapper">
    <img class="nav-ico menu" src="/assets/img/static/menu-button.svg" alt="menu">
    <img class="nav-ico close" src="/assets/img/static/close-button.svg" alt="close">
  </div>  
</label>