.conspect-nav {
  width: 264px;
  display: inline-block;
}

.conspect-menu {
  width: auto;
}

.conspect-menu ul li:first-of-type {
  margin-top: 32px;
}

.conspect-menu ul {
  width: auto;
  max-width: 264px;
  margin: 0;
  list-style-type: none;
  position: fixed;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  font-size: .875rem;
  padding: 0;
  line-height: 1.45rem;
}

.conspect-menu ul li{
  margin: 14px 0;
  padding-right: 5px;
  display: table;
}

.conspect-menu a {
  color: #000;
  display: block;
}

.conspect-menu li.about{
  margin-top: 1.5rem;
  padding-top: 0.3em;
}
