.footer {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 0 0 calc(100vw - 142px);
}

.footer-content {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  width: 130px;
  height: 77px;
  padding-top: 8px;
}

.footer .github-logo {
  display: block;
  margin: 0 auto;
}

.footer .site-name {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  font-weight: 700;
  color: #000000 !important;
}