.github-btn {
  background: #282a36;
  color: #ffffff;
  padding: 9px 11px;
  border-radius: 2px;
  margin-top: 57px;
  display: table;
  font-size: .85rem;
  box-shadow: -2px 2px 3px #d2d2d2;
  border: 1px solid #4e4e4e;
}