<nav class=conspect-nav>
  <div class="conspect-menu">
    <ul>
        {%- for post in collections['postInConspect:'+conspect].slice(1) -%}
          <li>
            <a href="{{post.url}}">
              {% if post.data.title === title %} <strong> {% endif %}
                  {{ post.data.title }}
              {% if post.data.title === title %} </strong> {% endif %}   
            </a>
          </li>
        {%- endfor -%}

        {% set about = collections['postInConspect:'+conspect][0] %}
        <li class=about>
          <a href="{{about.url}}">
            {% if about.data.title === title %} <strong> {% endif %}
              {{ about.data.title }}
            {% if about.data.title === title %} </strong> {% endif %}   
          </a>
        </li>
    </ul>
  </div>
</nav>
