<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seoDescription}}" />
    <meta name="keywords" content="{{seoKeywords}}" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/pages/common/commonPage.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/pages/desktop/commonPage.css" media="(min-width: 1280px)">
    <link rel="stylesheet" type="text/css" href="/assets/styles/pages/mobile/commonPage.css" media="(max-width: 1279px)">
    <title>{{title}}</title>
  </head>
  <body>
    <input id="nav-panel-burger" type="checkbox" value="burger" />
    <label id="mobile-burger" for="nav-panel-burger">
      <div class="hamburger hamburger--3dx js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </label>
    <div id="page-wrapper">
      <div class="container">
        <nav class=nav-panel>
          {% getSiteMenu collections, section, subject, conspect %}
        </nav>
        <section class="page-content">
          {% include 'header.njk' %}
          <nav>
            <ul class="breadcrumbs">
              <li>{% home %}</li>
              <li><a href="{{ collections['sections'][0].url }}">{{ collections['sections'][0].data.breadcrumbName }}</a></li>
              <li><a href="{{ collections['sectionName:'+section][0].url }}">{{ collections['sectionName:'+section][0].data.breadcrumbName }}</a></li>
              <li><a href="{{ collections['subjectName:'+subject][0].url }}">{{ collections['subjectName:'+subject][0].data.breadcrumbName }}</a></li>
              <li>{{ title }}</li>
            </ul>
          </nav>
          {{ content | safe }}
          <p>Оглавление:
            <ul class="base-list">
            {%- for post in collections['postInConspect:'+conspect] -%}
              <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
            {%- endfor -%}
            </ul>
          </p>
          {# <a class="github-btn" href="https://github.com/ValeriyDyachenko/bxnotes/blob/master{{ page.inputPath.replace('./', '/') }}">Редактировать на GitHub</a>  #}
        </section>
      </div>
      {% include 'footer.njk' %}
    </div>
  </body>
</html>
