<div class="footer">
  <div class="footer-content">
    <a href="https://github.com/ValeriyDyachenko/bxnotes">
      <img class="github-logo" src="/assets/img/static/GitHub-Mark-32px.png" alt="GitHub logo" />
      <span class="site-name">bxnotes</span>
    </a>  
  </div>  
</div>