<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seoDescription}}" />
    <meta name="keywords" content="{{seoKeywords}}" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/pages/common/commonPage.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/pages/desktop/home.css" media="(min-width: 1280px)">
    <link rel="stylesheet" type="text/css" href="/assets/styles/pages/mobile/home.css" media="(max-width: 1279px)">
    <title>{{title}}</title>
  </head>
  <body>
    <input id="nav-panel-burger" type="checkbox" value="burger" />
    <label id="mobile-burger" for="nav-panel-burger">
      <div class="hamburger hamburger--3dx js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </label>
    <div id="page-wrapper">
      <div class="container">
        <nav class=nav-panel>
          {% getSiteMenu collections, section, subject %}
        </nav>
        <section class="page-content">
          {% include 'header.njk' %}
          <div class="blocks-in-row">
            <div class="block">
              <h2>Разделы</h2>
              <ul class="base-list">
                {%- for section in collections['section'] -%}
                  <li><a href="{{section.url}}">{{ section.data.title }}</a></li>
                {%- endfor -%}
              </ul>
            </div>
            <div class="block">
              <h2>Темы</h2>
              <ul class="base-list">
                {%- for subject in collections['subject'] -%}
                  <li><a href="{{subject.url}}">{{ subject.data.title }}</a></li>
                {%- endfor -%}
              </ul>
            </div>
            <div class="block">
              <h2>Конспекты</h2>
              <ul class="base-list">
                {%- for conspect in collections['conspect'] -%}
                  <li><a href="{{conspect.url}}">{{ conspect.data.title }}</a></li>
                {%- endfor -%}
              </ul>
            </div>
          </div>  
          {{ content | safe }}
        <section>
      </div>
      {% include 'footer.njk' %}
    </div>
  </body>
</html>
