<!doctype html>
<html lang="ru">
  {% include 'components/head/head.njk' %}
  <body>
    {% include 'components/conspect-burger/conspect-burger.njk' %}
    {% include 'components/nav-burger/nav-burger.njk' %}
    <div id="page-wrapper">
      <div class="container" data-include-component="container">
        {% include 'components/conspect-menu/conspect-menu.njk' %}
        <section class="page-content" data-include-component="page-content">
          {% include 'components/header/header.njk' %}
          {% include 'components/origin/origin.njk' %}
          {{ content | safe }}
          {% include 'components/post-pagination/post-pagination.njk' %}
          {% include 'components/github-btn/github-btn.njk' %}
        </section>
        {% include 'components/site-nav/site-nav.njk' %}
      </div>
      {% include 'components/footer/footer.njk' %}
    </div>
  </body>
</html>
