<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seoDescription}}" />
    <meta name="keywords" content="{{seoKeywords}}" />
    <title>{{title}}</title>
    {% set css %}
      {% include "css/prism-vs.css" %}
      {% include "css/markdown.css" %}
      {% include "css/components/breadcrumbs.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <ul class="breadcrumbs">
      <li>{% home %}</li>
      <li><a href="{{ collections['sections'][0].url }}">{{ collections['sections'][0].data.breadcrumbName }}</a></li>
      <li><a href="{{ collections['sectionName:'+section][0].url }}">{{ collections['sectionName:'+section][0].data.title }}</a></li>
      <li><a href="{{ collections['conspectName:'+conspect][0].url }}">{{ collections['conspectName:'+conspect][0].data.title }}</a></li>
      <li>{{ title }}</li>
    </ul>
    <ul>
    {%- for post in collections['postInConspect:'+conspect] -%}
      <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
    {%- endfor -%}
    </ul>
    {{ content | safe }}
    {% postPagination collections, conspect, title %}
    <a href="https://github.com/ValeriyDyachenko/bxnotes/blob/master{{ page.inputPath.replace('./', '/') }}">Редактировать на GitHub</a>
  </body>
</html>
