<div class="header">
  <ul class="breadcrumbs">
    <li>
      <a href="/">
        <span class="bold">bxnotes</span><span class="thin">.ru</span>
      </a>
    </li>
      {% if collections['conspectName:' + conspect][0].data.conspectTitle %}
        <li>
          {{ collections['conspectName:' + conspect][0].data.conspectTitle }}
        </li>
      {% elif breadcrumbName  %}
        <li>
          {{ breadcrumbName }} 
        </li>
      {% endif %}
  </ul>    
</div>
