.header {
  margin: 0 0 15px 0;
  text-align: center;
}

.header .bold, .header .thin {
  font-weight: 700;
  font-size: 1.7em;
  color: #000000;
}

.header .thin {
  color: #676767;;
}

.header .breadcrumbs {
  list-style: none;
  padding: 0px 0 20px 0;
}

.header .breadcrumbs li {
  margin: 0;
}

.header .breadcrumbs li:not(:first-child) {
  font-size: 1.3rem;
}
