html { margin-left: calc(100vw - 100%); }

body {
  padding: 0;
  margin: 0;
}

.direct-link {
  color: "#c3c3c3";
}

blockquote {
  border-left: 4px solid #da0079;
  padding: 0 15px;
  color: #000;
}

.token.comment {
  color: #ff79c6;
}

a {
  color: #0067cc;;
}

table {
  border-spacing: 0px;
}

table tr td, table tr th {
  border: 1px solid #ddd;
}

.direct-link {
  color: #ff3faa;
}

.base-list {
  list-style: none;
  padding-left: 0;
}

h2 {
  display: table;
}

@media (max-width: 1279px) {
  #page-wrapper {
    height: 100vh;
    overflow: auto;
  }

  body {
    overflow:hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
  }

  .base-list {
    padding-left: 1rem;
  }
}
