<!doctype html>
<html lang="ru">
  {% include 'components/head/head.njk' %}
  <body>
    {% include 'components/nav-burger/nav-burger.njk' %}
    <div id="page-wrapper">
      <div class="container" data-include-component="container">
        {% include 'components/site-nav/site-nav.njk' %}
        <section class="page-content" data-include-component="page-content">
          {% include 'components/header/header.njk' %}
          <ul class="base-list">
            {%- for conspect in collections['conspectInSubject:' + subject] -%}
              {% set conspectName = conspect.data.conspect %}
              {% set firstArticle = collections['postInConspect:'+conspectName][1] %}
              <li><a href="{{firstArticle.url}}">{{ conspect.data.conspectTitle }}</a></li>
            {%- endfor -%}
          </ul>
          {{ content | safe }}
        </section>
      </div>
      {% include 'components/footer/footer.njk' %}
    </div>
  </body>
</html>
