.breadcrumbs {
  padding: 0;
  max-width: 700px;
  list-style: none;
  margin: 2rem auto 3rem auto;
}

.breadcrumbs li:first-child {
  padding: 0;
  margin-right: 17px;
}

.breadcrumbs li {
  color: #000;
}

.breadcrumbs li:not(:first-child)::before {
  content: "⯈";
  margin-right: 25px;
  color: #ff3faa;
}

.breadcrumbs li a{
  display: inline-block;
  color: #0067cc;
  min-width: 68px;
  padding: 2px 12px 2px 0;
}

.breadcrumbs-home-ico {
  margin-right: 17px;
}
