.conspect-menu {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(100vw, 0px);
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow-x: auto;
  pointer-events: none;
}

.conspect-menu ul {
  list-style: none;
  padding: 0 20px 10px;
}

.conspect-menu ul li.title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.conspect-menu ul li {
  margin: 20px 0;
}

.conspect-menu ul li a {
  color: #0059b1;
  display: block;
}
