#nav-panel-burger:checked ~ #page-wrapper .container .conspect-menu, #nav-panel-burger:checked ~ #page-wrapper .container .site-menu {
  opacity: 1;
  transform: translate(0px, 0px);
  z-index: 1;
  pointer-events: auto;
}

#mobile-burger {
  z-index: 3;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#nav-panel-burger {
  display: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity,filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
}
.hamburger:hover {
  opacity: 0.9; 
}
#nav-panel-burger:checked ~ #mobile-burger .hamburger:hover {
  opacity: 0.9; 
}
#nav-panel-burger:checked ~ #mobile-burger .hamburger .hamburger-inner,
#nav-panel-burger:checked ~ #mobile-burger .hamburger .hamburger-inner::before,
#nav-panel-burger:checked ~ #mobile-burger .hamburger .hamburger-inner::after {
  background-color: #000; 
}
.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 24px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -9px; }
.hamburger-inner::after {
  bottom: -9px; }

.hamburger--3dx .hamburger-box {
  perspective: 48px; 
}
.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
}
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#nav-panel-burger:checked ~ #mobile-burger .hamburger--3dx .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); 
}
#nav-panel-burger:checked ~ #mobile-burger .hamburger--3dx .hamburger-inner::before {
  transform: translate3d(0, 9px, 0) rotate(45deg); 
}
#nav-panel-burger:checked ~ #mobile-burger .hamburger--3dx .hamburger-inner::after {
  transform: translate3d(0, -9px, 0) rotate(-45deg); 
}
