.post-content {
  display: block;
  max-width: 700px;
  margin: 0 auto;
}

.post-content h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.3rem;
  margin-top: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
}